{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ name }} - Portofolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1">
    {% block meta %} {% endblock meta %}
</head>
<body>
    <header class="site-header">
        <div class="container">
            <a href="{% url 'main:show_main' %}" class="brand">
                <img src="/static/img/Cuking.svg">
            </a>
            <nav>
                <a href="{% url 'main:show_main' %}">Profile</a>
                <a href="{% url 'main:show_experience' %}">Experience</a>
                <a href="{% url 'main:show_projects' %}">Project</a>
                <a href="{% url 'main:show_menfess' %}">Kirim Pesan</a>
                {% if user.is_authenticated %}
                    <a href="">{{ user.username }}</a>
                    <a href="{% url 'main:logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'main:login' %}">Login</a>
                    <a href="{% url 'main:register' %}">Register</a>
                {% endif %}
            </nav>
            {% if messages %}
    <div id="toast-container" style="position: fixed; top: 20px; right: 20px; z-index: 9999;">
        {% for message in messages %}
            <div class="toast-message" style="background-color: #d4ff00; color: #111; padding: 10px 20px; margin-bottom: 10px; border: 2px solid #111; font-family: monospace; font-weight: bold; transition: opacity 0.5s ease;">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <script>
        setTimeout(function() {
            const toast = document.getElementById('toast-container');
            if (toast) {
                toast.style.opacity = '0';
                setTimeout(() => toast.remove(), 500);
            }
        }, 1800);
    </script>
{% endif %}
        </div>
    </header>
    {% block content %} {% endblock content %}

    <footer class="site-footer">
        <div class="container">
            <p>&copy; 2026 {{ name }}. Fakultas Ilmu Komputer, Universitas Indonesia. (v1.2)</p>
        </div>
    </footer>
        {% include 'components/toast.html' %}
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        
        const currentPath = window.location.pathname;
        
        const navLinks = document.querySelectorAll("nav a");
        
        navLinks.forEach(link => {
            if (link.getAttribute("href") === currentPath) {
                link.classList.add("active");
            }
        });
    });
</script>
</html>