{% extends "base.html" %}

{% block content %}
<main>
    <section class="experience-section">
        <div class="container">
            <h1>Edit Proyek</h1>
            
            <form method="POST" class="project-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button">Simpan Perubahan</button>
                <a href="{% url 'main:show_projects' %}" class="button" style="background-color: gray;">Batal</a>
            </form>
            
        </div>
    </section>
</main>
{% endblock content %}